name = "sparklefish-server"
main = "build/worker/shim.mjs"
account_id = "151bc8670b862fa7d694cf7246a2c0dc"
compatibility_date = "2025-05-06"

[build]
command = "cargo install -q worker-build && worker-build --release"

[observability]
enabled = true

[[r2_buckets]]
binding = "ASSETS_BUCKET"
bucket_name = "sparklefish-assets"

[env.test]

[env.test.vars]
BASE_DOMAIN = "fanjam.live"
CLIENT_DOMAIN = "test.fanjam.live"
NOCO_DEFAULT_MEMORY_CACHE_TTL_MILLIS = "5000"
NOCO_SUMMARY_CACHE_TTL_SECONDS = "3600"

[env.test.route]
pattern = "api-test.fanjam.live"
custom_domain = true

[[env.test.kv_namespaces]]
binding = "KV"
id = "0afa0089d1f14e0c907f68b5dba8db90"
preview_id = "0afa0089d1f14e0c907f68b5dba8db90"

[env.prod]

[env.prod.vars]
BASE_DOMAIN = "fanjam.live"
CLIENT_DOMAIN = "fanjam.live"
# The default cache TTL of the in-memory cache used to absorb high load and
# reduce the load on the NocoDB instance. This is a default which can be
# overridden on a per-environment basis.
NOCO_DEFAULT_MEMORY_CACHE_TTL_MILLIS = "5000"
# This cache is specifically for the name and description that are fetched from
# NocoDB and shown in the HTML page metadata. Fetching this data blocks the
# page load, so we want it to be as fast as possible. Because the effect is
# minor—only really affecting link embeds and browser tab names—we can tolerate
# a longer TTL.
NOCO_SUMMARY_CACHE_TTL_SECONDS = "3600"

[env.prod.route]
pattern = "api.fanjam.live"
custom_domain = true

[[env.prod.kv_namespaces]]
binding = "KV"
id = "c36821103a5045fc9de6baad28623928"
preview_id = "0afa0089d1f14e0c907f68b5dba8db90"
