app = "sparklefish-umami-605418"
primary_region = "iad"

kill_signal = "SIGINT"
kill_timeout = "5s"

[build]
image = "docker.umami.is/umami-software/umami:postgresql-latest"

[[services]]
protocol = "tcp"
internal_port = 3000
processes = ["app"]
auto_stop_machines = "suspend"
auto_start_machines = true
min_machines_running = 1

[[services.ports]]
port = 80
handlers = ["http"]
force_https = true

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[services.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20

[[services.tcp_checks]]
interval = "15s"
timeout = "2s"
grace_period = "1s"

[[vm]]
memory = "1gb"
cpu_kind = "shared"
cpus = 1
